body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f3f4f7;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0b428c;
    padding: 12px 30px;
    color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 55px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}


.nav .menu {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.nav-item:hover {
    opacity: 0.7;
    cursor: pointer;
}

.menu > li {
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.menu a:hover {
    opacity: 0.7;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    top: 100%;
    left: 0;
    width: 190px;
    border-radius: 6px;
    padding: 8px 0;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
    animation: fadeIn 0.2s ease-out;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 14px;
    color: #0b428c;
    font-weight: 500;
    transition: 0.2s;
}

.dropdown-menu li a:hover {
    background: #e7effa;
    cursor: pointer;
    padding-left: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.content-container {
    width: 90%;
    margin: 30px auto;
    background: white;
    min-height: 78vh;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    padding: 0;
    position: relative;
    border-radius: 6px;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
    display: block;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.error-panel {
    text-align: center;
    padding: 40px;
    color: #d00;
    display: block;
}

.hidden {
    display: none;
}

.footer {
    background: #0b428c;
    color: white;
    text-align: center;
    padding: 12px 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.2);
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
    font-weight: bold;
}

